<datasource-http-settings current="ctrl.current"></datasource-http-settings>

<h3 class="page-heading">NEC BaaS Details</h3>

<div class="gf-form-group">
    <div class="gf-form">
        <span class="gf-form-label width-7">Tenant ID</span>
        <input class="gf-form-input max-width-21" type="text" ng-model="ctrl.current.tenantId" required>
    </div>
    <div class="gf-form">
        <span class="gf-form-label width-7">App ID</span>
        <input class="gf-form-input max-width-21" type="text" ng-model="ctrl.current.appId" required>
    </div>
    <div class="gf-form">
        <span class="gf-form-label width-7">App/Master Key</span>
        <input class="gf-form-input max-width-21" type="text" ng-model="ctrl.current.appKey" required>
    </div>
</div>
