<query-editor-row query-ctrl="ctrl" has-text-edit-mode="false">
    <div class="gf-form-inline">
        <input type="hidden" ng-model="ctrl.target.type" value="timeserie">

        <div class="gf-form">
            <label class="gf-form-label query-keyword">Bucket</label>
            <gf-form-dropdown css-class="width-20"
                              placeholder="bucket name"
                              model="ctrl.target.bucket"
                              allow-custom="true"
                              lookup-text="true"
                              get-options="ctrl.getBuckets()"
                              on-change="ctrl.onChangeBucket()">
            </gf-form-dropdown>
        </div>

        <div class="gf-form">
            <label class="gf-form-label query-keyword">Alias</label>
            <input type="text" class="gf-form-input" ng-model="ctrl.target.alias" spellcheck='false' placeholder="alias patterns (optional)" ng-blur="ctrl.refresh()">
        </div>

        <div class="gf-form gf-form--grow">
            <div class="gf-form-label gf-form-label--grow"></div>
        </div>
    </div>

    <div class="gf-form-inline">
        <div class="gf-form gf-form--grow">
            <label class="gf-form-label query-keyword width-10">Data field</label>
            <code-editor content="ctrl.target.fieldName"
                         datasource="ctrl.datasource"
                         on-change="ctrl.onChangeFieldName()"
                         get-completer="ctrl.getCompleter()">
            </code-editor>
        </div>
    </div>

    <div class="gf-form-inline">
        <div class="gf-form gf-form--grow">
            <label class="gf-form-label query-keyword width-10">Timestamp field</label>
            <code-editor content="ctrl.target.tsField"
                         datasource="ctrl.datasource"
                         on-change="ctrl.onChangeTsField()"
                         get-completer="ctrl.getCompleter()">
            </code-editor>
        </div>
    </div>

    <div class="gf-form-inline">
        <div class="gf-form gf-form--grow">
            <label class="gf-form-label query-keyword width-10">Aggregation pipeline</label>
            <code-editor content="ctrl.target.aggr"
                         data-mode="json"
                         datasource="ctrl.datasource"
                         on-change="ctrl.onChangeAggregate()">
            </code-editor>
        </div>
    </div>
</query-editor-row>
